In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Saint-Joseph,RE,2021-03-26 14:28:09,-21.3667,55.6167,301.15,74,0,2.06
1,1,Bluff,NZ,2021-03-26 14:28:10,-46.6000,168.3333,288.15,83,100,3.51
2,2,Georgetown,MY,2021-03-26 14:26:21,5.4112,100.3354,299.26,94,40,1.54
3,3,Kruisfontein,ZA,2021-03-26 14:28:10,-34.0033,24.7314,298.71,58,27,2.24
4,4,Ushuaia,AR,2021-03-26 14:25:31,-54.8000,-68.3000,283.15,46,40,2.57

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 290
What is the maximum temperature you would like for your trip? 300

In [8]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Georgetown,MY,2021-03-26 14:26:21,5.4112,100.3354,299.26,94,40,1.54
3,3,Kruisfontein,ZA,2021-03-26 14:28:10,-34.0033,24.7314,298.71,58,27,2.24
11,11,Port Alfred,ZA,2021-03-26 14:28:13,-33.5906,26.8910,298.08,69,79,11.01
15,15,Umm Lajj,SA,2021-03-26 14:28:14,25.0213,37.2685,296.25,48,2,9.87
16,16,Ponta Do Sol,PT,2021-03-26 14:28:14,32.6667,-17.1000,294.15,64,40,7.72
18,18,East London,ZA,2021-03-26 14:28:15,-33.0153,27.9116,297.15,73,0,7.72
19,19,Rikitea,PF,2021-03-26 14:28:15,-23.1203,-134.9692,299.19,72,0,9.63
25,25,Hilo,US,2021-03-26 14:27:26,19.7297,-155.0900,294.15,73,20,2.06
27,27,Chuy,UY,2021-03-26 14:28:18,-33.6971,-53.4616,297.90,77,99,2.79
32,32,Cockburn Town,TC,2021-03-26 14:28:19,21.4612,-71.1419,298.41,74,0,9.18

In [9]:
preferred_cities_df.count()

City_ID       180
City          180
Country       176
Date          180
Lat           180
Lng           180
Max Temp      180
Humidity      180
Cloudiness    180
Wind Speed    180
dtype: int64

In [10]:
preferred_cities_df = preferred_cities_df.dropna()
preferred_cities_df.count()

City_ID       176
City          176
Country       176
Date          176
Lat           176
Lng           176
Max Temp      176
Humidity      176
Cloudiness    176
Wind Speed    176
dtype: int64

In [11]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

             City Country  Max Temp      Lat       Lng Hotel Name
2      Georgetown      MY    299.26   5.4112  100.3354
3    Kruisfontein      ZA    298.71 -34.0033   24.7314
11    Port Alfred      ZA    298.08 -33.5906   26.8910
15       Umm Lajj      SA    296.25  25.0213   37.2685
16   Ponta Do Sol      PT    294.15  32.6667  -17.1000
18    East London      ZA    297.15 -33.0153   27.9116
19        Rikitea      PF    299.19 -23.1203 -134.9692
25           Hilo      US    294.15  19.7297 -155.0900
27           Chuy      UY    297.90 -33.6971  -53.4616
32  Cockburn Town      TC    298.41  21.4612  -71.1419

In [12]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [13]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [14]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,Georgetown,MY,299.26,5.4112,100.3354,Cititel Penang
3,Kruisfontein,ZA,298.71,-34.0033,24.7314,Oyster Bay House Rental
11,Port Alfred,ZA,298.08,-33.5906,26.8910,The Halyards Hotel
15,Umm Lajj,SA,296.25,25.0213,37.2685,Moon light Furnished Units
16,Ponta Do Sol,PT,294.15,32.6667,-17.1000,Hotel do Campo
18,East London,ZA,297.15,-33.0153,27.9116,Tu Casa
19,Rikitea,PF,299.19,-23.1203,-134.9692,Pension Maro'i
25,Hilo,US,294.15,19.7297,-155.0900,Hilo Hawaiian Hotel
27,Chuy,UY,297.90,-33.6971,-53.4616,Nuevo Hotel Plaza
32,Cockburn Town,TC,298.41,21.4612,-71.1419,Osprey Beach Hotel

In [16]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [18]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [19]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))